@model List<Car>
@{
    ViewData["Title"] = "Cars Index";
}

<h1>Cars Index</h1>

<a asp-action="Create"> Create Car </a>

<div>
    @foreach (Car aCar in Model)
    {
    <div id="@("carId"+ aCar.Id)" >
        <p>Brand: @aCar.Brand</p>
        <p>Brand: @aCar.ModelName</p>
    </div>
    }
</div>